* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.sh text eol=lf
*.php text eol=lf
*.md text eol=lf


/.github export-ignore
CHANGELOG.md export-ignore
